<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=Yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet"
    href="static/mystyle.css">

    <title>Open Science: Fun &amp Easy!</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://github.com/vanatteveldt/compendium-checklist" target="_blank">
      <h1>Compendium Checklist to Make Open Science Fun &amp Easy!</h1>
      <i>Wouter van Atteveldt, Anne Kroon, Felicia Loecherbach, Mickey Steijaert, Joanna Strychach,
        Damian Trilling, Mariken A.C.G. van der Velden &amp Kasper Welbers </i> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

</nav>

<div class="container-fluid" style="padding-bottom: 1em; padding-top: 1em; padding-left: 5em; padding-right: 5em">
    <ul class="nav navbar-dark bg-dark nav-pills" style="padding-bottom: 0" role="tablist" id="topictabs">
        {# <span class="lead" style="margin-top: 2px">Topics:&nbsp;&nbsp;</span> #}
        {% for phase in phases %}
        <li class="nav-item pill">
            <a class="nav-link {%if loop.first %}active{% endif %}" id="pillphase{{loop.index}}" data-toggle="tab" role="tab"
               href="#phase{{loop.index}}" aria-controls="phase{{loop.index}}" aria-selected="{{loop.first}}">
                {{loop.index}}. {{ phase }}
            </a>
        </li>
        {% endfor %}
    </ul>

    <div class="tab-content" id="topictabscontent">
    {% for phase, questions in phases.items() %}
        <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="phase{{loop.index}}"
             role="tabpanel" aria-labelledby="phase{{loop.index}}-tab" style="margin-left: 1em; margin-right: -1em;padding-right: 2em">
        {% if loop.index == 1 %}
        <h3>Welcome to our Compendium Checklist! &nbsp; &nbsp;          
          <a href="info.html"><i class="fas fa-info-circle" style="color:#293133;" target="_blank"></i></a> </h3>           
        <hr /> 

        <p> 
               The first couple of questions are checking whether the computer you are working on for this research project has all necessary
               applications to work with the <a href = "https://github.com/ccs-amsterdam/compendium" target="_blank"> Standardized Research Compendium</a>.
             </br></br>
               <ins>Feel free to <a href="#" onclick="skiptotab(3)">skip the first two phases</a>, if you have worked with our Standardized Research Compendium before,
                 or feel that you do not need any information or help for those parts. You can always go back to earlier phases.</ins>
        {% elif loop.index == 2 %}
          <h3>Set-Up Your Project's Version Control!</h3> <hr />
          <p>These questions allow you to set up the version control for the program and/or language you are working with when conducting your research.
               If you think you do not need any explanations regarding this part, <a href="#" onclick="skiptotab(3)">you can just skip it</a>. </p>
       {% elif loop.index == 3 %}
          <h3>Set-Up Your Project's Folder Structure!</h3> <hr />
          <p>These questions allow you to set up the folder structure for your project. </p>
       {% elif loop.index == 4 %}
          <h3>Finish Your Project's Compendium!</h3> <hr />
          <p>These four questions allow you to conduct the final checks for your online compendium before submitting your manuscript.</p>
        {% endif %}
        {% for q in questions %}
          <div class="row mb-2 question {% if q.followup %}collapse{% endif %}" id="{{q.q}}">
            <div class="col-md-6 qquestion" style="{% if q.followup %}margin-left: 2em; margin-right: -2em;{% endif %}padding-right: 2em">
              <div class="check-btn">
                <input id="myid_{{q.q}}" type="checkbox" >
                <label for="myid_{{q.q}}" class="clicker">
                  <p class="lead"> 
                    <b>{{ q.title }} &nbsp; &nbsp;</b>
                    <i id = "arrow" class="fas fa-angle-double-down fa-xs" style="color:#293133;"></i>
                  </p>
                </label>
                <p class="hiddendiv">{{q.explanation}}</p>

              </div>
            </div>
            <div class="col-md-2 qcheck">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-yes yes" onclick="toggle('{{q.q}}', true)">
                  <input type="radio" name="options" id="#{{q.q}}_yes" onclick="event.stopPropagation()">Yes
                </label>
                <label class="btn btn-no no" onclick="toggle('{{q.q}}', false)">
                  <input type="radio" name="options" id="#{{q.q}}_no" onclick="event.stopPropagation()">No
                </label>
              </div>
            </div>
            <div class="col-md-4 qadvice parent">
              <div class="collapse" id="{{q.q}}_no_advice">
                <p >{{q.no_explanation}}</p>
              </div>
              <div class="collapse text-center children" id="{{q.q}}_yes_advice">
                <!-- Button to Open the Modal -->

                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{q.q}}_q" >
                    <b> More Information</b>
                  </button>
                  {% if q.show_me != 'NO' %}
                  &nbsp; &nbsp;
                  <a class="btn btn-primary" href="{{q.show_me}}" target="_blank">
                    <b> Show me how</b>
                  </a>
                  {% endif %}

                <!-- The Modal -->
                <div class="modal fade" id="{{q.q}}_q">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <!-- Modal Header -->
                      <div class="modal-header">
                        <h4 class="modal-title" id="{{q.q}}_info_box_header">{{q.info_box_header}}</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <!-- Modal body -->
                      <div class="modal-body">
                        <p>  {{q.info_box_content}} </p>
                      </div>
                      <!-- Modal footer -->
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      {% endfor %}
    </div>
</div>
<br>
<br>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script>
    // AFAIK, I can't prevent the collapse from toggling (if you click e.g. "no" twice) with the data-toggles attribute
    // so we do it in JS
    const dependencies = {{ dependencies|tojson }};

    function get_deps(q, yes) {
        const attr = yes?"yes":"no";
        if (!dependencies.hasOwnProperty(q)) return [];
        if (!dependencies[q].hasOwnProperty(attr)) return [];
        return dependencies[q][attr]

    }

    function toggle(q, yes) {
        console.log([q, yes]);
        // Get dependencies to show and hide
        to_show = get_deps(q, yes);
        to_hide = get_deps(q, !yes);
        // Add advice block
        to_show = to_show.concat(q+'_'+(yes?"yes":"no")+"_advice");
        to_hide = to_hide.concat(q+'_'+(!yes?"yes":"no")+"_advice");

        to_show.forEach(function(e) {$('#'+e).collapse('show')});
        to_hide.forEach(function(e) {$('#'+e).collapse('hide')});
    }

    function skiptotab(name) {
      $('#pillphase3').tab('show');
    }


</script>
</body>
</html>